.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}